.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
    padding: 20px;
    margin: 3px;
}

.formulario > div{
    display: flex;
}

.link{
    display: flex;
    justify-content: center;
    align-self: center;
    flex: 1;
    cursor: pointer;
    margin: 0;
}